html
    head

    body
        h1 Tmp page
            - for (var i = 0; i < arr.length; i++)
                div #{typeof(arr[i])}
                    span #{arr[i].v0} #{arr[i].opp1} #{arr[i].v1} #{arr[i].opp2} #{arr[i].v2}
